:root {
  /* Text */
  --clr-primary-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-primary-Soft-red: hsl(14, 88%, 65%);

  --clr-neutral-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-neutral-Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Gradient */
  --top: hsl(273, 75%, 66%);
  --bottom: hsl(240, 73%, 65%);

  /* Divider */
  --divider: hsl(240, 5%, 91%);

  /* Custom properties */
  --white: hsl(0, 0%, 100%);

  --fs-body-copy: 0.75rem;
  --fs-body-copy-desktop: 0.8125rem;

  --ff-base: 'Kumbh Sans', sans-serif;
}

/* ---------- Reset ---------- */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

/* ---------- Global ---------- */
html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  background: linear-gradient(var(--top), var(--bottom));
  font-size: var(--fs-body-copy);
  font-family: var(--ff-base);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625rem;
}

/* ---------- Utility classes ---------- */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover {
  cursor: pointer;
}

/* ---------- Layout ---------- */
.card {
  width: 87.2%;
  max-width: 31.25rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, .2);
  margin: 9.25rem auto 4.3125rem;
}

/* Images */
.card__img-wrapper {
  position: relative;
  height: 8.125rem;
}

.card__img {
  position: relative;
  z-index: 1;
  top: -6.6875rem;
  width: 14.8125rem;
  height: 11.25rem;
  background: url(../assets/images/illustration-woman-online-mobile.svg) no-repeat;
  margin: 0 auto;
}

.card__img-shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 15rem;
  height: 7.5rem;
  background: url(../assets/images/bg-pattern-mobile.svg) no-repeat;
}

/* Accordion */
.questions-section {
  padding: 0 1.5rem 1.5rem;
}

.card__title {
  color: var(--clr-primary-Very-dark-desaturated-blue);
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card__question {
  color: var(--clr-neutral-Very-dark-grayish-blue);
  font-size: var(--fs-body-copy);
  font-weight: 400;
  transition: 300ms;
}

.hover:hover .card__question {
  color: var(--clr-primary-Soft-red);
}

.card__question.active {
  font-weight: 700;
}

.card__question-arrow {
  width: 0.625rem;
  height: 0.4375rem;
  transition: 300ms;
}

.hover:hover .card__question-arrow,
.attribution a:hover {
  opacity: .7;
}

.card__question-arrow.active {
  transform: rotate(180deg);
}

.card__answer {
  height: 0;
  color: var(--clr-neutral-Dark-grayish-blue);
  overflow: hidden;
  padding-right: 2.25rem;
  transition: 300ms;
}

.card__answer.active {
  height: unset;
  margin-top: .5rem;
}

.divider {
  width: 100%;
  height: 0.0625rem;
  background-color: var(--divider);
  margin: 1rem 0;
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin: 1rem 0;
}

.attribution a {
  color: var(--clr-primary-Very-dark-desaturated-blue);
  font-weight: 700;
  transition: 300ms;
}

/* ---------- Responsiveness ---------- */
@media (min-width: 62.5rem) {
  .card {
    width: 57.5rem;
    max-width: unset;
    min-height: 31.875rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.625rem;
  }

  /* Images */
  .card__img-wrapper {
    height: 100%;
  }

  .card__img {
    position: absolute;
    top: 3.875rem;
    left: 0;
    width: 24.25rem;
    height: 22.5rem;
    background: url(../assets/images/illustration-woman-online-desktop.svg) no-repeat right;
  }

  .card__img-box {
    position: absolute;
    z-index: 2;
    top: 12.5rem;
    left: -3rem;
    width: 6.25rem;
    height: 6.875rem;
    background: url(../assets/images/illustration-box-desktop.svg) no-repeat top center;
  }

  .card__img-shadow {
    position: absolute;
    top: 0;
    left: 0;
    transform: unset;
    width: 24.25rem;
    height: 100%;
    background: url(../assets/images/bg-pattern-desktop.svg) no-repeat;
    background-position: top -19rem right;
  }

  /* Accordion */
  .card__title {
    text-align: left;
  }
  
  .questions-section {
    padding: 3rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .questions-wrapper {
    margin-right: 6rem;
  }
  
  .card__question-arrow {
    margin-right: 1rem;
  }
  
  .card__question,
  .card__answer {
    font-size: var(--fs-body-copy-desktop);
  }
  
  .card__answer {
    padding: 0;
  }
}